* {
  font-family: 'Open Sans', sans-serif;
}

.block1,
.block2,
.block3,
.block4,
.block5,
.block6,
.block7,
.block8,
.block9,
.block10,
.block11,
.block12 {
  box-sizing: border-box;
  border: 1px solid lightgrey;
}

body {
  width: 100vw;
  height: 115vw;
  display: grid;
  grid-template: 5.9% 8.6% 3.9% 22.3% 5.4% 13.5% 13.5% 13.5% 13.5% / 15% 47% 11% 27%;
}

/*Search Bar*/
.block1 {
  grid-area: 1 / 2 / 2 / 5;
  display: grid;
  grid-template: 100% / 7.5% 70% 7.5% 7.5% 7.5%;
  font-size: 2vw;
  color: black;
}

.block1 button:focus {
  background-color: rgb(20,153,249);
  color: white;
}

.block1 button:hover {
  background-color: rgb(20,153,249);
  color: white;
}

.block1__input {
  grid-area: 1 / 2 / 2 / 3;
  position: relative;
  color: grey;
  display: inline-block;
}

.block1__input input { 
  text-indent: 5vw;
  height: 94%; 
  width: 99.5%;
}

.block1__input .fa-search { 
  position: absolute;
  top: 2.5vw;
  left: 2vw;
}

.block1__button-menu {
  grid-area: 1 / 5 / 2 / 6;
}

.block1__button-nav {
  grid-area: 1 / 1 / 2 / 2;
}

.block1__button-person {
  grid-area: 1 / 3 / 2 / 4;
}

.block1__button-video {
  grid-area: 1 / 4 / 2 / 5;
}

/*Aside Menu*/
.block2 {
  grid-area: 1 / 1 / 10 / 2; 
  background-color: rgb(53,64,81);
  display: inline-block;
  color: rgb(141,153,173);
  font-size: 1.2vw;
}

.block2__section-person {
  height: 14.5vw;
  border-bottom: 1px solid black;
  font-size: 1.5vw;
  text-align: center
}

[src="https://new1.fjcdn.com/pictures/The+greast+stock+photo+guy+comp+_d534e3_5270001.jpg"] {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  margin: 15% 25% auto 25%;
}

.block2__section-person p span {
  font-size: 1.5vw;
  margin-left: .5vw;
}




.block2 summary::-webkit-details-marker {
    display: none;
}

.block2 summary {
  margin: 1.2vw 0 1.2vw 2vw;
  font-size: 1.5vw;
}

.block2 summary:hover {
  color: white;
}

.block2__section-main {
  border-bottom: 1px solid black;
  padding: 1vw 0;
}

.block2__section-main button {
  color: rgb(141,153,173);
  background-color: rgb(53,64,81);
  border: none;
  display: block;
  margin-bottom: 1.4vw;
  margin-left: 1.5vw;
}

.block2__section-main button:hover {
  color: white;
}

.block2__section-admin {
  border-bottom: 1px solid black;
  padding: 1vw 0;
}

.block2__section-admin button {
  color: rgb(141,153,173);
  background-color: rgb(53,64,81);
  border: none;
  display: block;
  margin-bottom: 1.4vw;
  margin-left: 1.5vw;
}

.block2__section-admin button:hover {
  color: white;
}

.block2__section-categories {
  padding: 1vw 0;
}

.block2__section-categories button {
  background-color: rgb(53,64,81);
  border: none;
  display: block;
  margin-bottom: 1.4vw;
  margin-left: 1.5vw;
}

.block2__section-categories--admin-button {
  color: rgb(225,225,3);
}

.block2__section-categories--admin-text {
  color: rgb(141,153,173);
}

.block2__section-categories--design-button {
  color: rgb(35,163,254);
}

.block2__section-categories--design-text {
  color: rgb(141,153,173);
}

.block2__section-categories--executive-button {
  color: rgb(236,27,89);
}

.block2__section-categories--executive-text {
  color: rgb(141,153,173);
}

.block2__section-categories--human-resources-button {
  color: rgb(0,161,126);
}

.block2__section-categories--human-resources-text {
  color: rgb(141,153,173);
}

/*Title*/
.block3 {
  grid-area: 2 / 2 / 3 / 5;
  position: relative;
}

.block3__section-title-and-location {
  display: inline-block;
  position: absolute;
  top: 1vw;
  left: 3vw;
  font-size: 1.4vw;
}

.block3__section-title-and-location--title {
  font-size: 2vw;
}

.block3__section-title-and-location--icon {
  display: inline;
  color: grey;
}

.block3__section-title-and-location--location-name{
  display: inline;
  margin-left: .25em;
  font-size: 1.4vw;
  color: grey;
}

.block3__section-title-and-location--location-link {
  display: inline;
  font-size: 1.4vw;
  color: rgb(20,153,249);
  text-decoration: none;
}

.block3__section-title-and-location--location-link:visited {
  color: rgb(20,153,249);
  text-decoration: none;
}

.block3__section-buttons {
  display: inline-block;
  position: absolute;
  right: 2vw;
  top: 2.5vw;
  font-size: 1.4vw;
}

.block3__section-buttons--open {
  padding: 1.4vw;
  border-radius: 2.8vw;
}

.block3__section-buttons--open:hover {
  background-color: rgb(20,153,249);
  color: white;
}

.block3__section-buttons--open-dot {
  color: rgb(141,204,96);
  margin-right: .5vw;
}

.block3__section-buttons--bookmark {
  padding: 1.4vw;
  border-radius: 50%;
  width: 4.5vw;
  margin-left: 1vw;
}

.block3__section-buttons--bookmark:hover {
  background-color: rgb(20,153,249);
  color: white;
}

.block3__section-buttons--edit {
  padding: 1.4vw;
  border-radius: 50%;
  width: 4.5vw;
  margin-left: 1vw;
}

.block3__section-buttons--edit:hover {
  background-color: rgb(20,153,249);
  color: white;
}

.block3__section-buttons--trash {
  padding: 1.4vw;
  border-radius: 50%;
  width: 4.5vw;
  margin-left: 1vw;
}

.block3__section-buttons--trash:hover {
  background-color: rgb(20,153,249);
  color: white;
}


/*Title Nav Buttons*/
.block4 {
  grid-area: 3 / 2 / 4 / 5;
}

.block4__ul {
  margin-top: 1.5vw;
  margin-bottom: 0vw;
}

.block4__ul li {
  display: inline-block;
  margin-right: 3vw;
  font-size: 1.25vw;
}

.block4__ul li button {
  padding-bottom: 1.2vw;
  border: none;
  color: grey;
}

.block4__ul li button:hover {
  border-bottom: .25vw solid rgb(20,153,249);
}

.block4__ul li button:focus {
  border-bottom: .25vw solid rgb(20,153,249);
}

/*Percent Circles*/
.block5 {
  grid-area: 4 / 2 / 5 / 3;
  background-color: rgb(237,242,246);
  font-size: 1vw;
}

.block5__chart-wrapper {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 3vw;
}

.block5__single-chart {
  width: 33%;
  justify-content: space-around ;
}

.block5__svg--circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.block5__svg--circular-chart--circle-bg {
  fill: none;
  stroke: rgb(219, 228, 232);
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
}

.block5__svg--circular-chart.green .circle {
  stroke: rgb(65, 188, 198);
}

.block5__svg--circular-chart.blue .circle {
  stroke: rgb(10, 163, 244);
}

.block5__svg--circular-chart.purple .circle {
  stroke: rgb(181, 111, 177);
}

.block5__svg--circular-chart--stat {
  fill: rgb(102, 102, 102);
  font-size: .6vw;
  text-anchor: middle;
}

.block5__svg--circular-chart--stat-text {
  font-size: .25vw;
  text-anchor: middle;
  fill: rgb(128, 128, 128);
}

.block5__p-totals {
  font-size: 1.25vw;
  text-align: center;
  background-color: white;
  border-radius: 2vw;
  display: block;
  margin: 2vw auto;
  padding: 1vw;
  width: 18vw;
}

/*Bar Chart*/
.block6 {
  grid-area: 4 / 3 / 5 / 5; 
  background-color: rgb(237,242,246);
}

.block6__chart-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 4vw;
}

.block6__chart {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(100, 1fr);
  grid-column-gap: 1vw;
  height: 12vw;
  width: 30vw;
  padding: 5px 10px;
}

.block6__chart--bar {
  margin: 0;
  padding: 0;
  border-radius: 2px 2px 0 0;
  grid-row-end: 102;
  background-color: rgb(67, 185,189);
}
  
.block6__chart--bar:hover {
  background-color: rgb(51, 167, 175);
}

.bar1 {
  grid-row-start: 1;
}

.bar2 {
  grid-row-start: 30;
}

.bar3 {
  grid-row-start: 20;
}

.bar4 {
  grid-row-start: 50;
}

.bar5 {
  grid-row-start: 60;
}

.bar6 {
  grid-row-start: 20;
}

.bar7 {
  grid-row-start: 30;
}

.bar8 {
  grid-row-start: 10;
}

.bar9 {
  grid-row-start: 80;
}

.bar10 {
  grid-row-start: 40;
}

.bar11 {
  grid-row-start: 20;
}

.bar12 {
  grid-row-start: 60;
}

.bar13 {
  grid-row-start: 50;
}

.bar14 {
  grid-row-start: 40;
}

.block6__p-applications {
  font-size: 1.25vw;
  text-align: center;
  background-color: white;
  border-radius: 2vw;
  display: block;
  margin: 2vw auto;
  padding: 1vw;
  width: 12vw;
}

/*Horizontal Line*/
.block7 {
  grid-area: 5 / 2 / 6 / 5;
  background-color: rgb(237,242,246);
  padding: 1.5vw 2vw;
}

.block7 hr {
  display: inline-block;
  width: 38vw;
  padding-bottom: .2vw;
  margin-bottom: 1vw;
  background-color: lightgrey;
  border: none;
}

.block7 section {
  display: inline-block;
  width: 3vw;
  height: 3vw;
  font-size: 3vw;
  background-color: white;
  border: .2vw solid lightgrey;
  border-radius: 50%;
  text-align: center;
  line-height: 20%;
  color: lightgrey;
}

.block7 section:hover {
  background-color: rgb(20,153,249);
  color: white;
}

/*Job Table*/
.block8 {
  grid-area: 6 / 2 / 10 / 4;
  background-color: rgb(237,242,246);
  padding: 2vw;
  font-size: 1.25vw;
}

.block8__table {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.block8__table--col1-header {
  box-sizing: border-box;
  flex-grow: 1;
  width: 30%;
  padding: 2.1vw 1vw;
  overflow: hidden;
  background: rgb(111, 126, 147);
  color: white;
}

.block8__table--col1-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 30%;
  padding: 2.1vw 1vw;
  overflow: hidden;
  background: white;
  color: rgb(111, 126, 147);
  border-bottom: .1vw solid lightgrey;
}

.block8__table--col2-header {
  box-sizing: border-box;
  flex-grow: 1;
  width: 60%;
  padding: 2.1vw 1vw;
  overflow: hidden;
  background: rgb(111, 126, 147);
  color: white;
}

.block8__table--col2-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 60%;
  padding: 2.1vw 1vw;
  overflow: hidden;
  background: white;
  color: rgb(111, 126, 147);
  border-bottom: .1vw solid lightgrey;
}

[src="img/headshot.jpg"] {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  margin: -1vw .5vw -1vw 0;
  padding: 0;
}








/*Social Media*/
.block9 {
  grid-area: 6 / 4 / 7 / 5;
  background-color: rgb(237,242,246);
}

/*Link to Job*/
.block10 {
  grid-area: 7 / 4 / 8 / 5;
  background-color: rgb(237,242,246);
}

/*Button Widget*/
.block11 {
  grid-area: 8 / 4 / 9 / 5;
  background-color: rgb(237,242,246);
}

/*Resume by Email*/
.block12 {
  grid-area: 9 / 4 / 10 / 5;
  background-color: rgb(237,242,246);
}